name: Auto Compile

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest 
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'  
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller

    - name: Build executable with PyInstaller and spec file
      run: |
        pyinstaller script.spec  
    - name: List output directory
      run: dir

    - name: Install 7-Zip
      run: |
        choco install 7zip.install -y 

    - name: Create ZIP file with specified resources
      run: |
        # Move the necessary files to the root of the working directory before zipping
        Move-Item -Path "dist\Vector24.exe" -Destination "."
        Move-Item -Path "app.log" -Destination "."
        Move-Item -Path "config.json" -Destination "."
        Move-Item -Path "positions.json" -Destination "."
        Move-Item -Path "startup.mp3" -Destination "."

        # Create the zip file
        & "C:\Program Files\7-Zip\7z.exe" a -tzip Vector24-ADDVNAME-amd64-win.zip Vector24.exe app.log config.json positions.json startup.mp3

    - name: Upload outer ZIP file as artifact
      uses: actions/upload-artifact@v3
      with:
        name: final-zip-package
        path: Vector24-ADDVNAME-amd64-win.zip
